@model  EquiModels.SectorViewModel
@{string actionname = TempData["Actionname"].ToString();}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close btn-lg" onclick="javascript: location.reload();">
            &times;
        </button>
        @if (actionname == "Add")
        {
            <h4 class="modal-title" id="name">
                Add Sector
            </h4>
        }
        else
        {
            <h4 class="modal-title" id="name">@("Edit " + ' ' + Model.Name)</h4>
        }
    </div>
    <div class="modal-body" style="height: 500px; overflow-y: scroll;">
        <img src="@Url.Content("~/Content/Images/loader.gif")" id="loading" class="loadingImg" height="90px" width="90px" />
        <div>
            <span style="color: red;"><em>* Indicates required field</em></span>
            <br />
            <div id="errormessage">
                <ul>
                    @if (ViewBag.Errors != null)
                    {
                        foreach (var err in ViewBag.Errors)
                        {
                            <li>@err.Value</li>
                        }
                    }

                </ul>
            </div>
            @if (TempData["message"] != null && TempData["message"].ToString().Length > 0)
            {
                <div id="message">
                    @TempData["message"]
                </div>
            }
            @using (Html.BeginForm(actionname, "Sectors", FormMethod.Post, new { @class = "form-Control", @onsubmit = "return OnFormSubmit(this);" }))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            @Html.LabelFor(x => x.Name)<span style="color: red; font-size: 17px;">*</span>
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @maxlenght = "300" })

                                        </div>
                                        <div class="col-xs-3">
                                            @Html.LabelFor(x => x.Code)
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(x => x.Code, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />


                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            @Html.LabelFor(x => x.UploaderId)<span style="color: red; font-size: 17px;">*</span>
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.DropDownListFor(x => x.UploaderId, ViewBag.Uploaders as SelectList, "Select Uploader", new { @class = "form-control", @maxlength = "4" })

                                        </div>

                                        <div class="col-xs-3">
                                            @Html.LabelFor(x => x.ReportCodeId)<span style="color: red; font-size: 17px;">*</span>
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.DropDownListFor(x => x.ReportCodeId, ViewBag.ReportCode as SelectList, "Select ReportCode", new { @class = "form-control", @maxlength = "4" })

                                        </div>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-3 required">
                                            @Html.LabelFor(x => x.PrimaryAnalystId)<span style="color: red; font-size: 17px;">*</span>
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.DropDownListFor(x => x.PrimaryAnalystId, ViewBag.PrimaryAnalystList as SelectList, "Select Analyst", new { @class = "form-control", @maxlength = "4", @placeholder = "Group Name", @Id = "PrimaryAnalystId" })

                                        </div>
                                        <div class="col-xs-3">
                                            @Html.LabelFor(x => x.BenchMark)
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(x => x.BenchMark, new { @class = "form-control", @maxlenght = "300" })

                                        </div>


                                    </div>
                                </div>
                                <br>
                                <div id="noborder">
                                    <table align="left" class="noborder">
                                        <tr>
                                            <th>
                                                Sector Analyst
                                            </th>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <th>
                                                Secondary Analyst
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td valign="top" rowspan="3">
                                                <select id="analysts" multiple="multiple" style="width: 200px; height: 280px">
                                                    @if (ViewBag.AnalystList != null)
                                                    {
                                                        foreach (var _sp in ViewBag.AnalystList)
                                                        {
                                                            <option value="@_sp.Id">@_sp.FullName</option>
                                                        }
                                                    }

                                                </select>
                                            </td>
                                            <td align="center">
                                                <input type="button" onclick="addSecondary()" value="Add Secondary Analyst" class="btn btn-info" style="height: 40px;width:176px;" /><br /><br />
                                                <input type="button" onclick="removeSecondary()" value="Remove Secondary Analyst" class="btn btn-info" style="height: 40px;width:176px;" />
                                            </td>

                                            <td>
                                                <select id="secondaryanalysts" name="SecondaryAnalystIds" multiple="multiple" style="width:200px;height:125px" class="@ViewData["error"]">
                                                    @if (ViewBag.SecondaryAnalystList != null)
                                                    {
                                                        foreach (var _sp in ViewBag.SecondaryAnalystList)
                                                        {
                                                            <option value="@_sp.Id">@_sp.FullName</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr></tr>
                                    </table>

                                </div>
                            </div>
                            <div class="panel-footer text-left">
                                <input class="btn btn-info" type="submit" value="Save" onclick="populateAnalysts();" id="save" />
                                <input class="btn btn-warning" type="button" value="Cancel" onclick="javascript: location.reload();" />
                            </div>
                            <br clear="all" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

   $("#PrimaryAnalystId").change(function () {
        var PrimaryAnalyst = this.value;
       if (PrimaryAnalyst != null || PrimaryAnalyst != "") {
           $("#analysts").empty();
           var AnalystList = '@Html.Raw(Json.Encode(ViewBag.AnalystList))';
           AnalystList = JSON.parse(AnalystList);
           $.each(AnalystList, function (index, data) {           
               if (data.Id != PrimaryAnalyst) {
                    $('#analysts').append('<option value="' + data.Id + '" >' + data.FullName + '</option>')
                }
           })
           $("#secondaryanalysts option").each(function (a) {
               $("#analysts option[value=" + this.value + "]").each(function () {
                   $(this).remove();
               });
           });           
        }

    });
    $(function () {
        LoadDropDown();
        primary = document.getElementById("PrimaryAnalystId");
        if (primary != null || primary != "") {
            s = document.getElementById("analysts");
            for (var i = 0; i < s.length; i++) {
                if (s.options[i].value == primary.value)
                    s.remove(i);
            }
        }
        $("#secondaryanalysts option").each(function (a) {          
            $("#analysts option[value="+this.value+"]").each(function () {
                $(this).remove();
            });
            $("#PrimaryAnalystId option[value=" + this.value + "]").each(function () {
                $(this).remove();
            });
        });


    })

    function addSecondary() {
        s = document.getElementById("analysts");
        p = document.getElementById("PrimaryAnalystId");
        var t = document.getElementById("secondaryanalysts");
        if (t.options.length < 4) {
            transferSecondary(s, t, p, false);
        } else { alert('Only Four secondary analyst can be added'); }
    }

    function removeSecondary() {
        t = document.getElementById("analysts");
        s = document.getElementById("secondaryanalysts");
        p = document.getElementById("PrimaryAnalystId");
        transferSecondary(s, t, p, true);
    }

  

    function populateAnalysts() {
        s = document.getElementById("secondaryanalysts");
        t = document.getElementById("primaryanalysts");
        for (i = 0; i < s.options.length; i++) s.options[i].selected = true;
        
    }
    function OnFormSubmit(frm) {

        var res = '@TempData["message"]';
        SubmitForm(frm,res);
        return false;

    }
</script>


